USE [master]
GO
/****** Object:  Database [QLPKNK]    Script Date: 3/23/2026 3:23:31 AM ******/
CREATE DATABASE [QLPKNK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPKNK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLPKNK.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLPKNK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLPKNK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPKNK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPKNK]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[MaAudit] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[HoatDong] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[ChiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAudit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacSi]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSi](
	[MaBacSi] [int] NOT NULL,
	[SoChungChi] [nvarchar](100) NULL,
	[ChuyenKhoaChinh] [nvarchar](200) NULL,
	[SoNamKinhNghiem] [int] NULL,
	[MoTaChuyenMon] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[MaBaoCao] [int] IDENTITY(1,1) NOT NULL,
	[LoaiBaoCao] [nvarchar](50) NULL,
	[TenBaoCao] [nvarchar](100) NOT NULL,
	[ThoiGianBatDau] [date] NULL,
	[ThoiGianKetThuc] [date] NULL,
	[NguoiTao] [int] NULL,
	[NgayTao] [datetime] NULL,
	[DuongDanFile] [varchar](500) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[MaBenhNhan] [int] IDENTITY(10000,1) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TienSuBenh] [nvarchar](max) NULL,
	[DiUng] [nvarchar](max) NULL,
	[GhiChuBacSi] [nvarchar](max) NULL,
	[LoaiBenhNhan] [nvarchar](20) NULL,
	[NgayDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhHeThong]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhHeThong](
	[MaCauHinh] [int] IDENTITY(1,1) NOT NULL,
	[TenCauHinh] [nvarchar](100) NOT NULL,
	[GiaTri] [nvarchar](max) NULL,
	[MoTa] [nvarchar](255) NULL,
	[LoaiCauHinh] [nvarchar](50) NULL,
	[NguoiCapNhat] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayLamViec] [date] NOT NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
	[SoGioLam] [decimal](5, 2) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoSo]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoSo](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaHoSo] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](15, 2) NULL,
	[ThanhTien] [decimal](15, 2) NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](200) NOT NULL,
	[LoaiDichVu] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThoiGianThucHien] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GheNhaKhoa]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GheNhaKhoa](
	[MaGhe] [int] IDENTITY(1,1) NOT NULL,
	[TenGhe] [nvarchar](100) NOT NULL,
	[ViTri] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[MoTa] [nvarchar](500) NULL,
	[NgayBatDauBaoTri] [datetime2](7) NULL,
	[NgayKetThucBaoTri] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaDichVu]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaDichVu](
	[MaGiaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[DonGia] [decimal](15, 2) NOT NULL,
	[NgayApDung] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhXQuang]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhXQuang](
	[MaHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaHoSo] [int] NOT NULL,
	[TenFile] [nvarchar](255) NOT NULL,
	[DuongDan] [varchar](500) NOT NULL,
	[LoaiAnh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](500) NULL,
	[NgayUpload] [datetime] NULL,
	[NguoiUpload] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoBenhAn]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoBenhAn](
	[MaHoSo] [int] IDENTITY(1,1) NOT NULL,
	[MaBenhNhan] [int] NOT NULL,
	[MaBacSi] [int] NOT NULL,
	[MaLichHen] [int] NULL,
	[MaGhe] [int] NULL,
	[NgayKham] [datetime] NULL,
	[TrieuChung] [nvarchar](max) NULL,
	[ChanDoan] [nvarchar](max) NULL,
	[PhuongPhapDieuTri] [nvarchar](max) NULL,
	[DonThuoc] [nvarchar](max) NULL,
	[LoiDan] [nvarchar](max) NULL,
	[HenTaiKham] [date] NULL,
	[TongTien] [decimal](15, 2) NULL,
	[DaThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichBaoTriGhe]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichBaoTriGhe](
	[MaBaoTri] [int] IDENTITY(1,1) NOT NULL,
	[MaGhe] [int] NOT NULL,
	[NgayBaoTri] [date] NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[NguoiBaoTri] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[MaLichHen] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoanDatLich] [int] NULL,
	[MaBenhNhan] [int] NOT NULL,
	[MaBacSi] [int] NULL,
	[MaDichVu] [int] NOT NULL,
	[MaGhe] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayHen] [date] NOT NULL,
	[GioHen] [time](7) NOT NULL,
	[LyDoKham] [nvarchar](max) NULL,
	[QuanHe] [nvarchar](50) NULL,
	[KenhDatLich] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[MaNhanVienXacNhan] [int] NULL,
	[ThoiGianXacNhan] [datetime] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViec]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViec](
	[MaLich] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[Thu] [int] NULL,
	[CaLam] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[MaLoaiNV] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiNV] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luong]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[MaLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[LuongCoBan] [decimal](15, 2) NULL,
	[PhanTramHoaHong] [decimal](5, 2) NULL,
	[SoTienHoaHong] [decimal](15, 2) NULL,
	[Thuong] [decimal](15, 2) NULL,
	[KhauTru] [decimal](15, 2) NULL,
	[TongLuong] [decimal](15, 2) NULL,
	[NgayTinhLuong] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1000,1) NOT NULL,
	[MaTaiKhoanNV] [int] NOT NULL,
	[MaLoaiNV] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ThoiGianBatDauLam] [date] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[ChuyenKhoa] [nvarchar](255) NULL,
	[BangCap] [nvarchar](max) NULL,
	[SoNamKinhNghiem] [int] NULL,
	[GioiThieu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[MaVatTu] [int] NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[DonGiaNhap] [decimal](15, 2) NULL,
	[ThanhTien] [decimal](15, 2) NULL,
	[NgayNhap] [datetime] NULL,
	[NguoiNhap] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaPhanQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiNV] [int] NOT NULL,
	[XemLich] [bit] NULL,
	[SuaLich] [bit] NULL,
	[XemHoSo] [bit] NULL,
	[SuaHoSo] [bit] NULL,
	[XemDoanhThu] [bit] NULL,
	[QuanLyKho] [bit] NULL,
	[QuanLyNhanSu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanHeBenhNhan]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanHeBenhNhan](
	[MaQuanHe] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [int] NOT NULL,
	[MaBenhNhan] [int] NOT NULL,
	[QuanHe] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuanHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNguoiDung]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNguoiDung](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[NgayTao] [datetime] NULL,
	[LanDangNhapCuoi] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[LyDoKhoa] [nvarchar](500) NULL,
	[OTP] [varchar](6) NULL,
	[ThoiGianOTP] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNhanVien]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNhanVien](
	[MaTaiKhoanNV] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[LanDangNhapCuoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoanNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaHoSo] [int] NOT NULL,
	[SoTien] [decimal](15, 2) NOT NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[CoTraGop] [bit] NULL,
	[KeHoachTraGop] [nvarchar](500) NULL,
	[NgayThanhToan] [datetime] NULL,
	[NguoiThu] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaGiaoDich] [varchar](100) NULL,
	[APIResponse] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToanOnline]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToanOnline](
	[MaThanhToanOnline] [int] IDENTITY(1,1) NOT NULL,
	[MaThanhToan] [int] NOT NULL,
	[MaGiaoDich] [varchar](100) NULL,
	[SoTien] [decimal](15, 2) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToanOnline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[LoaiThongBao] [nvarchar](50) NULL,
	[MaBenhNhan] [int] NULL,
	[MaLichHen] [int] NULL,
	[SoDienThoaiNhan] [varchar](15) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[HinhThuc] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[ThoiGianGui] [datetime] NULL,
	[ThoiGianHenGui] [datetime] NULL,
	[KetQua] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[MaVatTu] [int] IDENTITY(1,1) NOT NULL,
	[TenVatTu] [nvarchar](200) NOT NULL,
	[LoaiVatTu] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[SoLuongTon] [int] NULL,
	[SoLuongToiThieu] [int] NULL,
	[HanSuDung] [date] NULL,
	[NhaCungCap] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatKho]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatKho](
	[MaXuatKho] [int] IDENTITY(1,1) NOT NULL,
	[MaVatTu] [int] NOT NULL,
	[SoLuongXuat] [int] NOT NULL,
	[LyDoXuat] [nvarchar](255) NULL,
	[NgayXuat] [datetime] NULL,
	[NguoiXuat] [int] NULL,
	[MaHoSo] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXuatKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauDatLich]    Script Date: 3/23/2026 3:23:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauDatLich](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[SoDienThoai] [varchar](10) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[CoZalo] [bit] NOT NULL,
	[TrangThai] [nvarchar](100) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([MaAudit], [MaNhanVien], [HoatDong], [NgayTao], [ChiTiet]) VALUES (1, NULL, N'T?O L?CH H?N', CAST(N'2026-03-21T19:58:51.610' AS DateTime), N'MaLichHen: 1, MaBenhNhan: 10000')
INSERT [dbo].[AuditLog] ([MaAudit], [MaNhanVien], [HoatDong], [NgayTao], [ChiTiet]) VALUES (2, NULL, N'T?O L?CH H?N', CAST(N'2026-03-21T20:10:28.067' AS DateTime), N'MaLichHen: 2, MaBenhNhan: 10003')
INSERT [dbo].[AuditLog] ([MaAudit], [MaNhanVien], [HoatDong], [NgayTao], [ChiTiet]) VALUES (3, NULL, N'T?O L?CH H?N', CAST(N'2026-03-21T20:11:18.723' AS DateTime), N'MaLichHen: 3, MaBenhNhan: 10004')
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
INSERT [dbo].[BacSi] ([MaBacSi], [SoChungChi], [ChuyenKhoaChinh], [SoNamKinhNghiem], [MoTaChuyenMon]) VALUES (1001, N'', N'Nha khoa tổng quát', 0, N'')
INSERT [dbo].[BacSi] ([MaBacSi], [SoChungChi], [ChuyenKhoaChinh], [SoNamKinhNghiem], [MoTaChuyenMon]) VALUES (1002, N'CC-NK-2024-001', N'Nha khoa tổng quát', 5, NULL)
INSERT [dbo].[BacSi] ([MaBacSi], [SoChungChi], [ChuyenKhoaChinh], [SoNamKinhNghiem], [MoTaChuyenMon]) VALUES (1003, N'', N'', 0, N'')
GO
SET IDENTITY_INSERT [dbo].[BenhNhan] ON 

INSERT [dbo].[BenhNhan] ([MaBenhNhan], [MaTaiKhoan], [HoTen], [SoDienThoai], [Email], [NgaySinh], [GioiTinh], [DiaChi], [TienSuBenh], [DiUng], [GhiChuBacSi], [LoaiBenhNhan], [NgayDangKy]) VALUES (10000, 1, N'Nguyễn Thị Lan', N'0901234567', N'lan95@gmail.com', CAST(N'1995-05-20' AS Date), N'Nữ', NULL, NULL, NULL, NULL, N'Thành viên', CAST(N'2026-03-21T19:58:42.453' AS DateTime))
INSERT [dbo].[BenhNhan] ([MaBenhNhan], [MaTaiKhoan], [HoTen], [SoDienThoai], [Email], [NgaySinh], [GioiTinh], [DiaChi], [TienSuBenh], [DiUng], [GhiChuBacSi], [LoaiBenhNhan], [NgayDangKy]) VALUES (10001, 2, N'Trần Văn Bình', N'0912345678', N'binh88@gmail.com', CAST(N'1988-09-12' AS Date), N'Nam', NULL, NULL, NULL, NULL, N'Thành viên', CAST(N'2026-03-21T19:58:42.453' AS DateTime))
INSERT [dbo].[BenhNhan] ([MaBenhNhan], [MaTaiKhoan], [HoTen], [SoDienThoai], [Email], [NgaySinh], [GioiTinh], [DiaChi], [TienSuBenh], [DiUng], [GhiChuBacSi], [LoaiBenhNhan], [NgayDangKy]) VALUES (10002, NULL, N'Lê Minh Anh', N'0923456789', N'anh@gmail.com', CAST(N'2000-03-15' AS Date), N'Nữ', NULL, NULL, NULL, NULL, N'Khách mới', CAST(N'2026-03-21T19:58:42.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[BenhNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHinhHeThong] ON 

INSERT [dbo].[CauHinhHeThong] ([MaCauHinh], [TenCauHinh], [GiaTri], [MoTa], [LoaiCauHinh], [NguoiCapNhat], [NgayCapNhat]) VALUES (1, N'ThoiGianTuDongDuyet', N'20', N'Thời gian tự động duyệt lịch (phút)', N'Lịch hẹn', 1000, CAST(N'2026-03-21T19:58:46.397' AS DateTime))
INSERT [dbo].[CauHinhHeThong] ([MaCauHinh], [TenCauHinh], [GiaTri], [MoTa], [LoaiCauHinh], [NguoiCapNhat], [NgayCapNhat]) VALUES (2, N'GioNhanLichCoDinh', N'06:00', N'Giờ nhắc lịch cố định', N'Thông báo', 1000, CAST(N'2026-03-21T19:58:46.397' AS DateTime))
INSERT [dbo].[CauHinhHeThong] ([MaCauHinh], [TenCauHinh], [GiaTri], [MoTa], [LoaiCauHinh], [NguoiCapNhat], [NgayCapNhat]) VALUES (3, N'SoLichToiDaTrongNgay', N'10', N'Số lịch tối đa/ngày', N'Lịch hẹn', 1000, CAST(N'2026-03-21T19:58:46.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[CauHinhHeThong] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [LoaiDichVu], [MoTa], [ThoiGianThucHien], [TrangThai]) VALUES (1, N'Khám tổng quát', N'Tổng quát', NULL, 30, N'Khả dụng')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [LoaiDichVu], [MoTa], [ThoiGianThucHien], [TrangThai]) VALUES (3, N'Trám răng', N'Tổng quát', NULL, 60, N'Khả dụng')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [LoaiDichVu], [MoTa], [ThoiGianThucHien], [TrangThai]) VALUES (4, N'Niềng răng', N'Chỉnh nha', NULL, 120, N'Ngưng')
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[GheNhaKhoa] ON 

INSERT [dbo].[GheNhaKhoa] ([MaGhe], [TenGhe], [ViTri], [TrangThai], [MoTa], [NgayBatDauBaoTri], [NgayKetThucBaoTri]) VALUES (1, N'Ghế 1', N'Phòng 1', N'Trống', NULL, CAST(N'2026-03-15T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-17T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[GheNhaKhoa] ([MaGhe], [TenGhe], [ViTri], [TrangThai], [MoTa], [NgayBatDauBaoTri], [NgayKetThucBaoTri]) VALUES (2, N'Ghế 2', N'Phòng 1', N'Trống', NULL, NULL, NULL)
INSERT [dbo].[GheNhaKhoa] ([MaGhe], [TenGhe], [ViTri], [TrangThai], [MoTa], [NgayBatDauBaoTri], [NgayKetThucBaoTri]) VALUES (3, N'Ghế 3', N'Phòng 2', N'Trống', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GheNhaKhoa] OFF
GO
SET IDENTITY_INSERT [dbo].[HoSoBenhAn] ON 

INSERT [dbo].[HoSoBenhAn] ([MaHoSo], [MaBenhNhan], [MaBacSi], [MaLichHen], [MaGhe], [NgayKham], [TrieuChung], [ChanDoan], [PhuongPhapDieuTri], [DonThuoc], [LoiDan], [HenTaiKham], [TongTien], [DaThanhToan]) VALUES (2, 10014, 1002, NULL, NULL, CAST(N'2026-03-22T17:13:17.940' AS DateTime), NULL, N'Sâu răng', NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(15, 2)), 0)
INSERT [dbo].[HoSoBenhAn] ([MaHoSo], [MaBenhNhan], [MaBacSi], [MaLichHen], [MaGhe], [NgayKham], [TrieuChung], [ChanDoan], [PhuongPhapDieuTri], [DonThuoc], [LoiDan], [HenTaiKham], [TongTien], [DaThanhToan]) VALUES (3, 10015, 1002, NULL, NULL, CAST(N'2026-03-22T17:16:11.713' AS DateTime), NULL, N'Viêm nướu', NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(15, 2)), 0)
INSERT [dbo].[HoSoBenhAn] ([MaHoSo], [MaBenhNhan], [MaBacSi], [MaLichHen], [MaGhe], [NgayKham], [TrieuChung], [ChanDoan], [PhuongPhapDieuTri], [DonThuoc], [LoiDan], [HenTaiKham], [TongTien], [DaThanhToan]) VALUES (4, 10016, 1002, NULL, NULL, CAST(N'2026-03-22T17:16:22.970' AS DateTime), NULL, N'Răng khôn mọc lệch', NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(15, 2)), 0)
SET IDENTITY_INSERT [dbo].[HoSoBenhAn] OFF
GO
SET IDENTITY_INSERT [dbo].[LichBaoTriGhe] ON 

INSERT [dbo].[LichBaoTriGhe] ([MaBaoTri], [MaGhe], [NgayBaoTri], [MoTa], [NguoiBaoTri], [TrangThai]) VALUES (1, 1, CAST(N'2026-10-01' AS Date), N'Bảo trì định kỳ', 1000, N'Hoàn thành')
INSERT [dbo].[LichBaoTriGhe] ([MaBaoTri], [MaGhe], [NgayBaoTri], [MoTa], [NguoiBaoTri], [TrangThai]) VALUES (2, 2, CAST(N'2026-10-02' AS Date), N'Sửa chữa ghế', 1003, N'Hoàn thành')
INSERT [dbo].[LichBaoTriGhe] ([MaBaoTri], [MaGhe], [NgayBaoTri], [MoTa], [NguoiBaoTri], [TrangThai]) VALUES (3, 1, CAST(N'2026-10-01' AS Date), N'Bảo trì định kỳ', 1000, N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[LichBaoTriGhe] OFF
GO
SET IDENTITY_INSERT [dbo].[LichHen] ON 

INSERT [dbo].[LichHen] ([MaLichHen], [MaTaiKhoanDatLich], [MaBenhNhan], [MaBacSi], [MaDichVu], [MaGhe], [NgayDat], [NgayHen], [GioHen], [LyDoKham], [QuanHe], [KenhDatLich], [TrangThai], [MaNhanVienXacNhan], [ThoiGianXacNhan], [GhiChu]) VALUES (1, NULL, 10000, 1002, 1, 1, CAST(N'2026-03-21T19:58:51.600' AS DateTime), CAST(N'2026-10-10' AS Date), CAST(N'08:00:00' AS Time), NULL, NULL, N'Website', N'Đã xác nhận', NULL, NULL, NULL)
INSERT [dbo].[LichHen] ([MaLichHen], [MaTaiKhoanDatLich], [MaBenhNhan], [MaBacSi], [MaDichVu], [MaGhe], [NgayDat], [NgayHen], [GioHen], [LyDoKham], [QuanHe], [KenhDatLich], [TrangThai], [MaNhanVienXacNhan], [ThoiGianXacNhan], [GhiChu]) VALUES (2, 3, 10003, 1002, 1, 4, CAST(N'2026-03-21T20:10:28.000' AS DateTime), CAST(N'2026-03-27' AS Date), CAST(N'08:00:00' AS Time), NULL, NULL, N'Website', N'Đã xác nhận', NULL, NULL, NULL)
INSERT [dbo].[LichHen] ([MaLichHen], [MaTaiKhoanDatLich], [MaBenhNhan], [MaBacSi], [MaDichVu], [MaGhe], [NgayDat], [NgayHen], [GioHen], [LyDoKham], [QuanHe], [KenhDatLich], [TrangThai], [MaNhanVienXacNhan], [ThoiGianXacNhan], [GhiChu]) VALUES (3, 3, 10004, 1002, 1, NULL, CAST(N'2026-03-05T00:00:00.000' AS DateTime), CAST(N'2026-03-05' AS Date), CAST(N'08:00:00' AS Time), NULL, NULL, N'Website', N'Đã xác nhận', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LichHen] OFF
GO
SET IDENTITY_INSERT [dbo].[LichLamViec] ON 

INSERT [dbo].[LichLamViec] ([MaLich], [MaNhanVien], [Thu], [CaLam], [GhiChu]) VALUES (1, 1001, 2, N'Sáng', NULL)
INSERT [dbo].[LichLamViec] ([MaLich], [MaNhanVien], [Thu], [CaLam], [GhiChu]) VALUES (2, 1001, 3, N'Chiều', NULL)
INSERT [dbo].[LichLamViec] ([MaLich], [MaNhanVien], [Thu], [CaLam], [GhiChu]) VALUES (3, 1001, 4, N'Cả ngày', NULL)
SET IDENTITY_INSERT [dbo].[LichLamViec] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiNhanVien] ON 

INSERT [dbo].[LoaiNhanVien] ([MaLoaiNV], [TenLoaiNV], [MoTa]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[LoaiNhanVien] ([MaLoaiNV], [TenLoaiNV], [MoTa]) VALUES (2, N'Bác sĩ', N'Bác sĩ điều trị')
INSERT [dbo].[LoaiNhanVien] ([MaLoaiNV], [TenLoaiNV], [MoTa]) VALUES (3, N'Lễ tân', N'Nhân viên tiếp đón')
SET IDENTITY_INSERT [dbo].[LoaiNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoanNV], [MaLoaiNV], [HoTen], [SoDienThoai], [Email], [NgaySinh], [GioiTinh], [DiaChi], [ThoiGianBatDauLam], [TrangThai], [ChuyenKhoa], [BangCap], [SoNamKinhNghiem], [GioiThieu]) VALUES (1000, 1, 1, N'Nguyễn Văn Admin', N'0901234567', N'admin@phongkham.com', NULL, NULL, NULL, CAST(N'2026-03-21' AS Date), N'Đang làm việc', N'Quản lý', NULL, 0, NULL)
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoanNV], [MaLoaiNV], [HoTen], [SoDienThoai], [Email], [NgaySinh], [GioiTinh], [DiaChi], [ThoiGianBatDauLam], [TrangThai], [ChuyenKhoa], [BangCap], [SoNamKinhNghiem], [GioiThieu]) VALUES (1001, 2, 2, N'Trần Thị Minh', N'0912345678', N'dr.minh@phongkham.com', NULL, NULL, NULL, CAST(N'2026-03-21' AS Date), N'Đang làm việc', N'Nha khoa tổng quát', NULL, 0, NULL)
INSERT [dbo].[NhanVien] ([MaNhanVien], [MaTaiKhoanNV], [MaLoaiNV], [HoTen], [SoDienThoai], [Email], [NgaySinh], [GioiTinh], [DiaChi], [ThoiGianBatDauLam], [TrangThai], [ChuyenKhoa], [BangCap], [SoNamKinhNghiem], [GioiThieu]) VALUES (1002, 3, 3, N'Lê Thị Lan', N'0923456789', N'reception@phongkham.com', NULL, NULL, NULL, CAST(N'2026-03-21' AS Date), N'Đang làm việc', NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhapKho] ON 

INSERT [dbo].[NhapKho] ([MaNhapKho], [MaVatTu], [SoLuongNhap], [DonGiaNhap], [ThanhTien], [NgayNhap], [NguoiNhap], [GhiChu]) VALUES (1, 4, 10, CAST(50000.00 AS Decimal(15, 2)), CAST(500000.00 AS Decimal(15, 2)), CAST(N'2026-03-22T17:47:24.387' AS DateTime), 1000, NULL)
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaVatTu], [SoLuongNhap], [DonGiaNhap], [ThanhTien], [NgayNhap], [NguoiNhap], [GhiChu]) VALUES (2, 2, 7, CAST(22000.00 AS Decimal(15, 2)), CAST(154000.00 AS Decimal(15, 2)), CAST(N'2026-03-22T17:47:55.200' AS DateTime), 1000, NULL)
INSERT [dbo].[NhapKho] ([MaNhapKho], [MaVatTu], [SoLuongNhap], [DonGiaNhap], [ThanhTien], [NgayNhap], [NguoiNhap], [GhiChu]) VALUES (3, 3, 15, CAST(250000.00 AS Decimal(15, 2)), CAST(3750000.00 AS Decimal(15, 2)), CAST(N'2026-03-22T17:48:05.190' AS DateTime), 1000, NULL)
SET IDENTITY_INSERT [dbo].[NhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [MaLoaiNV], [XemLich], [SuaLich], [XemHoSo], [SuaHoSo], [XemDoanhThu], [QuanLyKho], [QuanLyNhanSu]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [MaLoaiNV], [XemLich], [SuaLich], [XemHoSo], [SuaHoSo], [XemDoanhThu], [QuanLyKho], [QuanLyNhanSu]) VALUES (2, 2, 1, 0, 1, 1, 0, 0, 0)
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [MaLoaiNV], [XemLich], [SuaLich], [XemHoSo], [SuaHoSo], [XemDoanhThu], [QuanLyKho], [QuanLyNhanSu]) VALUES (3, 3, 1, 1, 1, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[QuanHeBenhNhan] ON 

INSERT [dbo].[QuanHeBenhNhan] ([MaQuanHe], [MaTaiKhoan], [MaBenhNhan], [QuanHe], [TrangThai], [NgayTao]) VALUES (1, 2, 10001, N'Bản thân', N'Hoạt động', CAST(N'2026-03-21T19:58:42.460' AS DateTime))
INSERT [dbo].[QuanHeBenhNhan] ([MaQuanHe], [MaTaiKhoan], [MaBenhNhan], [QuanHe], [TrangThai], [NgayTao]) VALUES (2, 1, 10000, N'Bản thân', N'Hoạt động', CAST(N'2026-03-21T19:58:42.460' AS DateTime))
INSERT [dbo].[QuanHeBenhNhan] ([MaQuanHe], [MaTaiKhoan], [MaBenhNhan], [QuanHe], [TrangThai], [NgayTao]) VALUES (3, 3, 10003, N'Bản thân', N'Hoạt động', CAST(N'2026-03-21T20:09:27.227' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuanHeBenhNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] ON 

INSERT [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [Email], [GioiTinh], [NgaySinh], [NgayTao], [LanDangNhapCuoi], [TrangThai], [LyDoKhoa], [OTP], [ThoiGianOTP]) VALUES (1, N'lan95', N'12345678', N'Nguyễn Thị Lan', N'0901234567', N'lan95@gmail.com', NULL, NULL, CAST(N'2026-03-21T19:58:38.963' AS DateTime), NULL, N'Hoạt động', NULL, NULL, NULL)
INSERT [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [Email], [GioiTinh], [NgaySinh], [NgayTao], [LanDangNhapCuoi], [TrangThai], [LyDoKhoa], [OTP], [ThoiGianOTP]) VALUES (2, N'binh88', N'12345678', N'Trần Văn Bình', N'0912345678', N'binh88@gmail.com', NULL, NULL, CAST(N'2026-03-21T19:58:38.963' AS DateTime), NULL, N'Hoạt động', NULL, NULL, NULL)
INSERT [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [Email], [GioiTinh], [NgaySinh], [NgayTao], [LanDangNhapCuoi], [TrangThai], [LyDoKhoa], [OTP], [ThoiGianOTP]) VALUES (3, N'lehongnhan', N'15e2b0d3c33891ebb0f1ef609ec419420c20e320ce94c65fbc8c3312448eb225', N'Lê Hồng Nhân', N'0844775125', NULL, N'Nam', NULL, CAST(N'2026-03-21T20:09:26.913' AS DateTime), NULL, N'Hoạt động', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanNhanVien] ON 

INSERT [dbo].[TaiKhoanNhanVien] ([MaTaiKhoanNV], [TenDangNhap], [MatKhau], [TrangThai], [NgayTao], [LanDangNhapCuoi]) VALUES (1, N'admin', N'2nRLNriDehd9gsIBvUCBEUpNLah+C3LaWVsb+qzjdKk=$88204b152030cd46f7a78c11f354934b640e4c5dfc12f5d154f5ac36a4a0ca8b', N'Hoạt động', CAST(N'2026-03-21T19:58:05.403' AS DateTime), NULL)
INSERT [dbo].[TaiKhoanNhanVien] ([MaTaiKhoanNV], [TenDangNhap], [MatKhau], [TrangThai], [NgayTao], [LanDangNhapCuoi]) VALUES (2, N'dr.minh', N'iClXC5Z9pvZwLDsb/JlRYKo2McueIom7vx2G5/RlOSM=$babb5fda4617579e92ad8af7dba9a6f48f179f68b1400bfd06f95d9a5192c8fa', N'Hoạt động', CAST(N'2026-03-21T19:58:05.403' AS DateTime), NULL)
INSERT [dbo].[TaiKhoanNhanVien] ([MaTaiKhoanNV], [TenDangNhap], [MatKhau], [TrangThai], [NgayTao], [LanDangNhapCuoi]) VALUES (3, N'reception', N'cpUfVBfdt+xZxAM8/JsUXs/1ueEvUY8humkoIUuyVSA=$08e1387d1744ddf84897de48c0697586e73d0572f700d7c0c0f0de290a90b446', N'Hoạt động', CAST(N'2026-03-21T19:58:05.403' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoanNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[VatTu] ON 

INSERT [dbo].[VatTu] ([MaVatTu], [TenVatTu], [LoaiVatTu], [DonViTinh], [SoLuongTon], [SoLuongToiThieu], [HanSuDung], [NhaCungCap], [GhiChu], [GiaNhap], [TrangThai]) VALUES (1, N'Thạch Cao Dental Stone (Type 3) – Gypsum', N'Thuốc men', N'Hộp', 24, 1, CAST(N'2028-12-22' AS Date), NULL, NULL, CAST(30000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[VatTu] ([MaVatTu], [TenVatTu], [LoaiVatTu], [DonViTinh], [SoLuongTon], [SoLuongToiThieu], [HanSuDung], [NhaCungCap], [GhiChu], [GiaNhap], [TrangThai]) VALUES (2, N'Dung dịch làm sạch xoang - Cavity Cleanser', N'Khác', N'Chai', 7, 5, CAST(N'2028-12-22' AS Date), NULL, NULL, CAST(22000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[VatTu] ([MaVatTu], [TenVatTu], [LoaiVatTu], [DonViTinh], [SoLuongTon], [SoLuongToiThieu], [HanSuDung], [NhaCungCap], [GhiChu], [GiaNhap], [TrangThai]) VALUES (3, N'Bộ dụng cụ khám', N'Dụng cụ', N'Bộ', 15, 5, CAST(N'2028-12-22' AS Date), NULL, NULL, CAST(250000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[VatTu] OFF
GO
SET IDENTITY_INSERT [dbo].[YeuCauDatLich] ON 

INSERT [dbo].[YeuCauDatLich] ([Id], [HoTen], [SoDienThoai], [DiaChi], [CoZalo], [TrangThai], [NgayTao]) VALUES (1, N'Lê Minh Tâm', N'0911426583', N'Tháp Mười', 0, N'Đã hủy', CAST(N'2026-03-22T15:31:29.487' AS DateTime))
INSERT [dbo].[YeuCauDatLich] ([Id], [HoTen], [SoDienThoai], [DiaChi], [CoZalo], [TrangThai], [NgayTao]) VALUES (2, N'Lê Duy Tân', N'0844775125', N'Lạng Sơn', 0, N'Đã hủy', CAST(N'2026-03-22T16:11:00.523' AS DateTime))
INSERT [dbo].[YeuCauDatLich] ([Id], [HoTen], [SoDienThoai], [DiaChi], [CoZalo], [TrangThai], [NgayTao]) VALUES (3, N'Lê Tuấn', N'0774512236', N'Bình Thủy', 0, N'Đã hủy', CAST(N'2026-03-22T18:44:55.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[YeuCauDatLich] OFF
GO
/****** Object:  Index [IX_BenhNhan_MaTaiKhoan]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_BenhNhan_MaTaiKhoan] ON [dbo].[BenhNhan]
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BenhNhan_SoDienThoai]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_BenhNhan_SoDienThoai] ON [dbo].[BenhNhan]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CauHinhH__13FC1E2974297FED]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[CauHinhHeThong] ADD UNIQUE NONCLUSTERED 
(
	[TenCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ChamCong_NhanVien_Ngay]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[ChamCong] ADD  CONSTRAINT [UQ_ChamCong_NhanVien_Ngay] UNIQUE NONCLUSTERED 
(
	[MaNhanVien] ASC,
	[NgayLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChamCong_MaNhanVien_Ngay]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChamCong_MaNhanVien_Ngay] ON [dbo].[ChamCong]
(
	[MaNhanVien] ASC,
	[NgayLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoSoBenhAn_MaBacSi]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_HoSoBenhAn_MaBacSi] ON [dbo].[HoSoBenhAn]
(
	[MaBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoSoBenhAn_MaBenhNhan]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_HoSoBenhAn_MaBenhNhan] ON [dbo].[HoSoBenhAn]
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichHen_BacSi_NgayGio]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichHen_BacSi_NgayGio] ON [dbo].[LichHen]
(
	[MaBacSi] ASC,
	[NgayHen] ASC,
	[GioHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichHen_BenhNhan]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichHen_BenhNhan] ON [dbo].[LichHen]
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichHen_Ghe_NgayGio]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichHen_Ghe_NgayGio] ON [dbo].[LichHen]
(
	[MaGhe] ASC,
	[NgayHen] ASC,
	[GioHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichHen_MaTaiKhoanDatLich]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichHen_MaTaiKhoanDatLich] ON [dbo].[LichHen]
(
	[MaTaiKhoanDatLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LichHen_NgayHen_TrangThai]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichHen_NgayHen_TrangThai] ON [dbo].[LichHen]
(
	[NgayHen] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LichLamViec_NhanVien_Thu_CaLam]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[LichLamViec] ADD  CONSTRAINT [UQ_LichLamViec_NhanVien_Thu_CaLam] UNIQUE NONCLUSTERED 
(
	[MaNhanVien] ASC,
	[Thu] ASC,
	[CaLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichLamViec_MaNhanVien_Thu]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichLamViec_MaNhanVien_Thu] ON [dbo].[LichLamViec]
(
	[MaNhanVien] ASC,
	[Thu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiNhan__F43523D1FCACE828]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[LoaiNhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Luong_NhanVien_Thang_Nam]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[Luong] ADD  CONSTRAINT [UQ_Luong_NhanVien_Thang_Nam] UNIQUE NONCLUSTERED 
(
	[MaNhanVien] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Luong_MaNhanVien]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_Luong_MaNhanVien] ON [dbo].[Luong]
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhapKho_MaVatTu]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_NhapKho_MaVatTu] ON [dbo].[NhapKho]
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PhanQuyen_MaLoaiNV]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [UQ_PhanQuyen_MaLoaiNV] UNIQUE NONCLUSTERED 
(
	[MaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_QuanHeBenhNhan_TaiKhoan_BenhNhan]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[QuanHeBenhNhan] ADD  CONSTRAINT [UQ_QuanHeBenhNhan_TaiKhoan_BenhNhan] UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC,
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC02D9751C4]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[TaiKhoanNguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaiKhoanNguoiDung_SoDienThoai]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoanNguoiDung_SoDienThoai] ON [dbo].[TaiKhoanNguoiDung]
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaiKhoanNguoiDung_TenDangNhap]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoanNguoiDung_TenDangNhap] ON [dbo].[TaiKhoanNguoiDung]
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC03A214437]    Script Date: 3/23/2026 3:23:32 AM ******/
ALTER TABLE [dbo].[TaiKhoanNhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThanhToan_MaHoSo]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_ThanhToan_MaHoSo] ON [dbo].[ThanhToan]
(
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ThongBao_SoDienThoai]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_ThongBao_SoDienThoai] ON [dbo].[ThongBao]
(
	[SoDienThoaiNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ThongBao_TrangThai]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_ThongBao_TrangThai] ON [dbo].[ThongBao]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VatTu_SoLuongTon]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_VatTu_SoLuongTon] ON [dbo].[VatTu]
(
	[SoLuongTon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VatTu_TonKho]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_VatTu_TonKho] ON [dbo].[VatTu]
(
	[SoLuongTon] ASC,
	[SoLuongToiThieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_XuatKho_MaVatTu]    Script Date: 3/23/2026 3:23:32 AM ******/
CREATE NONCLUSTERED INDEX [IX_XuatKho_MaVatTu] ON [dbo].[XuatKho]
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BacSi] ADD  DEFAULT ((0)) FOR [SoNamKinhNghiem]
GO
ALTER TABLE [dbo].[BaoCao] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BaoCao] ADD  DEFAULT (N'Đã tạo') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BenhNhan] ADD  DEFAULT (N'Khách mới') FOR [LoaiBenhNhan]
GO
ALTER TABLE [dbo].[BenhNhan] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[CauHinhHeThong] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[ChamCong] ADD  DEFAULT (N'Đúng giờ') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoSo] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT (N'Khả dụng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GheNhaKhoa] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HinhAnhXQuang] ADD  DEFAULT (getdate()) FOR [NgayUpload]
GO
ALTER TABLE [dbo].[HoSoBenhAn] ADD  DEFAULT (getdate()) FOR [NgayKham]
GO
ALTER TABLE [dbo].[HoSoBenhAn] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoSoBenhAn] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[LichBaoTriGhe] ADD  DEFAULT (N'Hoàn thành') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichHen] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[LichHen] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Luong] ADD  DEFAULT (getdate()) FOR [NgayTinhLuong]
GO
ALTER TABLE [dbo].[Luong] ADD  DEFAULT (N'Chờ thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [ThoiGianBatDauLam]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((0)) FOR [SoNamKinhNghiem]
GO
ALTER TABLE [dbo].[NhapKho] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [XemLich]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [SuaLich]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [XemHoSo]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [SuaHoSo]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [XemDoanhThu]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [QuanLyKho]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  DEFAULT ((0)) FOR [QuanLyNhanSu]
GO
ALTER TABLE [dbo].[QuanHeBenhNhan] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QuanHeBenhNhan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoanNhanVien] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoanNhanVien] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [CoTraGop]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[ThanhToanOnline] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (N'Chưa gửi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[VatTu] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[VatTu] ADD  DEFAULT ((10)) FOR [SoLuongToiThieu]
GO
ALTER TABLE [dbo].[XuatKho] ADD  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[YeuCauDatLich] ADD  DEFAULT ((0)) FOR [CoZalo]
GO
ALTER TABLE [dbo].[YeuCauDatLich] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[YeuCauDatLich] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[BacSi]  WITH CHECK ADD  CONSTRAINT [FK_BacSi_NhanVien] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BacSi] CHECK CONSTRAINT [FK_BacSi_NhanVien]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD  CONSTRAINT [FK_BaoCao_NhanVien] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[BaoCao] CHECK CONSTRAINT [FK_BaoCao_NhanVien]
GO
ALTER TABLE [dbo].[BenhNhan]  WITH CHECK ADD  CONSTRAINT [FK_BenhNhan_TaiKhoanNguoiDung] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BenhNhan] CHECK CONSTRAINT [FK_BenhNhan_TaiKhoanNguoiDung]
GO
ALTER TABLE [dbo].[CauHinhHeThong]  WITH CHECK ADD  CONSTRAINT [FK_CauHinhHeThong_NhanVien] FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[CauHinhHeThong] CHECK CONSTRAINT [FK_CauHinhHeThong_NhanVien]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHoSo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoSo_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietHoSo] CHECK CONSTRAINT [FK_ChiTietHoSo_DichVu]
GO
ALTER TABLE [dbo].[ChiTietHoSo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoSo_HoSoBenhAn] FOREIGN KEY([MaHoSo])
REFERENCES [dbo].[HoSoBenhAn] ([MaHoSo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoSo] CHECK CONSTRAINT [FK_ChiTietHoSo_HoSoBenhAn]
GO
ALTER TABLE [dbo].[GiaDichVu]  WITH CHECK ADD  CONSTRAINT [FK_GiaDichVu_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaDichVu] CHECK CONSTRAINT [FK_GiaDichVu_DichVu]
GO
ALTER TABLE [dbo].[HinhAnhXQuang]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhXQuang_HoSoBenhAn] FOREIGN KEY([MaHoSo])
REFERENCES [dbo].[HoSoBenhAn] ([MaHoSo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhXQuang] CHECK CONSTRAINT [FK_HinhAnhXQuang_HoSoBenhAn]
GO
ALTER TABLE [dbo].[HinhAnhXQuang]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhXQuang_NhanVien] FOREIGN KEY([NguoiUpload])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HinhAnhXQuang] CHECK CONSTRAINT [FK_HinhAnhXQuang_NhanVien]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSoBenhAn_BacSi] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[BacSi] ([MaBacSi])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSoBenhAn_BacSi]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSoBenhAn_BenhNhan] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhan] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSoBenhAn_BenhNhan]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSoBenhAn_GheNhaKhoa] FOREIGN KEY([MaGhe])
REFERENCES [dbo].[GheNhaKhoa] ([MaGhe])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSoBenhAn_GheNhaKhoa]
GO
ALTER TABLE [dbo].[HoSoBenhAn]  WITH CHECK ADD  CONSTRAINT [FK_HoSoBenhAn_LichHen] FOREIGN KEY([MaLichHen])
REFERENCES [dbo].[LichHen] ([MaLichHen])
GO
ALTER TABLE [dbo].[HoSoBenhAn] CHECK CONSTRAINT [FK_HoSoBenhAn_LichHen]
GO
ALTER TABLE [dbo].[LichBaoTriGhe]  WITH CHECK ADD  CONSTRAINT [FK_LichBaoTriGhe_GheNhaKhoa] FOREIGN KEY([MaGhe])
REFERENCES [dbo].[GheNhaKhoa] ([MaGhe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichBaoTriGhe] CHECK CONSTRAINT [FK_LichBaoTriGhe_GheNhaKhoa]
GO
ALTER TABLE [dbo].[LichBaoTriGhe]  WITH CHECK ADD  CONSTRAINT [FK_LichBaoTriGhe_NhanVien] FOREIGN KEY([NguoiBaoTri])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LichBaoTriGhe] CHECK CONSTRAINT [FK_LichBaoTriGhe_NhanVien]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_BacSi] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[BacSi] ([MaBacSi])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_BacSi]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_BenhNhan] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhan] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_BenhNhan]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_DichVu]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_GheNhaKhoa] FOREIGN KEY([MaGhe])
REFERENCES [dbo].[GheNhaKhoa] ([MaGhe])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_GheNhaKhoa]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_NhanVien_XacNhan] FOREIGN KEY([MaNhanVienXacNhan])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_NhanVien_XacNhan]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_TaiKhoanNguoiDung] FOREIGN KEY([MaTaiKhoanDatLich])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_TaiKhoanNguoiDung]
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViec_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichLamViec] CHECK CONSTRAINT [FK_LichLamViec_NhanVien]
GO
ALTER TABLE [dbo].[Luong]  WITH CHECK ADD  CONSTRAINT [FK_Luong_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Luong] CHECK CONSTRAINT [FK_Luong_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNhanVien] FOREIGN KEY([MaLoaiNV])
REFERENCES [dbo].[LoaiNhanVien] ([MaLoaiNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoanNhanVien] FOREIGN KEY([MaTaiKhoanNV])
REFERENCES [dbo].[TaiKhoanNhanVien] ([MaTaiKhoanNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoanNhanVien]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_NhanVien] FOREIGN KEY([NguoiNhap])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_NhanVien]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_VatTu] FOREIGN KEY([MaVatTu])
REFERENCES [dbo].[VatTu] ([MaVatTu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_NhapKho_VatTu]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_PhanQuyen_LoaiNhanVien] FOREIGN KEY([MaLoaiNV])
REFERENCES [dbo].[LoaiNhanVien] ([MaLoaiNV])
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_PhanQuyen_LoaiNhanVien]
GO
ALTER TABLE [dbo].[QuanHeBenhNhan]  WITH CHECK ADD  CONSTRAINT [FK_QuanHeBenhNhan_BenhNhan] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhan] ([MaBenhNhan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanHeBenhNhan] CHECK CONSTRAINT [FK_QuanHeBenhNhan_BenhNhan]
GO
ALTER TABLE [dbo].[QuanHeBenhNhan]  WITH CHECK ADD  CONSTRAINT [FK_QuanHeBenhNhan_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTaiKhoan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuanHeBenhNhan] CHECK CONSTRAINT [FK_QuanHeBenhNhan_TaiKhoan]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HoSoBenhAn] FOREIGN KEY([MaHoSo])
REFERENCES [dbo].[HoSoBenhAn] ([MaHoSo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_HoSoBenhAn]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_NhanVien] FOREIGN KEY([NguoiThu])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_NhanVien]
GO
ALTER TABLE [dbo].[ThanhToanOnline]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToanOnline_ThanhToan] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[ThanhToan] ([MaThanhToan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToanOnline] CHECK CONSTRAINT [FK_ThanhToanOnline_ThanhToan]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_BenhNhan] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhan] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_BenhNhan]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_LichHen] FOREIGN KEY([MaLichHen])
REFERENCES [dbo].[LichHen] ([MaLichHen])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_LichHen]
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD  CONSTRAINT [FK_XuatKho_HoSoBenhAn] FOREIGN KEY([MaHoSo])
REFERENCES [dbo].[HoSoBenhAn] ([MaHoSo])
GO
ALTER TABLE [dbo].[XuatKho] CHECK CONSTRAINT [FK_XuatKho_HoSoBenhAn]
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD  CONSTRAINT [FK_XuatKho_NhanVien] FOREIGN KEY([NguoiXuat])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[XuatKho] CHECK CONSTRAINT [FK_XuatKho_NhanVien]
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD  CONSTRAINT [FK_XuatKho_VatTu] FOREIGN KEY([MaVatTu])
REFERENCES [dbo].[VatTu] ([MaVatTu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XuatKho] CHECK CONSTRAINT [FK_XuatKho_VatTu]
GO
ALTER TABLE [dbo].[BenhNhan]  WITH CHECK ADD  CONSTRAINT [CHK_BenhNhan_GioiTinh_Valid] CHECK  (([GioiTinh] IS NULL OR ([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam')))
GO
ALTER TABLE [dbo].[BenhNhan] CHECK CONSTRAINT [CHK_BenhNhan_GioiTinh_Valid]
GO
ALTER TABLE [dbo].[BenhNhan]  WITH CHECK ADD  CONSTRAINT [CHK_BenhNhan_SoDienThoai_Format] CHECK  (([SoDienThoai] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[BenhNhan] CHECK CONSTRAINT [CHK_BenhNhan_SoDienThoai_Format]
GO
ALTER TABLE [dbo].[ChiTietHoSo]  WITH CHECK ADD  CONSTRAINT [CHK_ChiTietHoSo_SoLuong_Valid] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoSo] CHECK CONSTRAINT [CHK_ChiTietHoSo_SoLuong_Valid]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CHK_DichVu_LoaiDichVu_Valid] CHECK  (([LoaiDichVu]=N'Trẻ em' OR [LoaiDichVu]=N'Implant' OR [LoaiDichVu]=N'Chỉnh nha' OR [LoaiDichVu]=N'Thẩm mỹ' OR [LoaiDichVu]=N'Tổng quát'))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CHK_DichVu_LoaiDichVu_Valid]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CHK_DichVu_TenDichVu_NotEmpty] CHECK  ((len(rtrim(ltrim([TenDichVu])))>(0)))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CHK_DichVu_TenDichVu_NotEmpty]
GO
ALTER TABLE [dbo].[GiaDichVu]  WITH CHECK ADD  CONSTRAINT [CHK_GiaDichVu_DonGia_Valid] CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[GiaDichVu] CHECK CONSTRAINT [CHK_GiaDichVu_DonGia_Valid]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [CHK_LichHen_GioHen_Valid] CHECK  (([GioHen]>='07:30' AND [GioHen]<='12:00' OR [GioHen]>='14:00' AND [GioHen]<='19:30'))
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [CHK_LichHen_GioHen_Valid]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [CHK_LichHen_KenhDatLich_Valid] CHECK  (([KenhDatLich]=N'Đến trực tiếp' OR [KenhDatLich]=N'Website' OR [KenhDatLich]=N'Facebook' OR [KenhDatLich]=N'Zalo' OR [KenhDatLich]=N'Điện thoại'))
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [CHK_LichHen_KenhDatLich_Valid]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [CHK_LichHen_TrangThai_Valid] CHECK  (([TrangThai]=N'Đã khám' OR [TrangThai]=N'Hủy' OR [TrangThai]=N'Đã xác nhận' OR [TrangThai]=N'Chờ xác nhận'))
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [CHK_LichHen_TrangThai_Valid]
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD  CONSTRAINT [CHK_LichLamViec_CaLam_Valid] CHECK  (([CaLam]=N'Cả ngày' OR [CaLam]=N'Chiều' OR [CaLam]=N'Sáng'))
GO
ALTER TABLE [dbo].[LichLamViec] CHECK CONSTRAINT [CHK_LichLamViec_CaLam_Valid]
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD  CONSTRAINT [CHK_LichLamViec_Thu_Valid] CHECK  (([Thu]>=(2) AND [Thu]<=(8)))
GO
ALTER TABLE [dbo].[LichLamViec] CHECK CONSTRAINT [CHK_LichLamViec_Thu_Valid]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [CHK_NhapKho_SoLuongNhap_Valid] CHECK  (([SoLuongNhap]>(0)))
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [CHK_NhapKho_SoLuongNhap_Valid]
GO
ALTER TABLE [dbo].[QuanHeBenhNhan]  WITH CHECK ADD  CONSTRAINT [CHK_QuanHeBenhNhan_QuanHe_Valid] CHECK  (([QuanHe]=N'Khác' OR [QuanHe]=N'Bạn bè' OR [QuanHe]=N'Họ hàng' OR [QuanHe]=N'Cháu' OR [QuanHe]=N'Bà' OR [QuanHe]=N'Ông' OR [QuanHe]=N'Em' OR [QuanHe]=N'Chị' OR [QuanHe]=N'Anh' OR [QuanHe]=N'Mẹ' OR [QuanHe]=N'Cha' OR [QuanHe]=N'Con' OR [QuanHe]=N'Chồng' OR [QuanHe]=N'Vợ' OR [QuanHe]=N'Bản thân'))
GO
ALTER TABLE [dbo].[QuanHeBenhNhan] CHECK CONSTRAINT [CHK_QuanHeBenhNhan_QuanHe_Valid]
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung]  WITH CHECK ADD  CONSTRAINT [CHK_TaiKhoanNguoiDung_GioiTinh_Valid] CHECK  (([GioiTinh] IS NULL OR ([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam')))
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung] CHECK CONSTRAINT [CHK_TaiKhoanNguoiDung_GioiTinh_Valid]
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung]  WITH CHECK ADD  CONSTRAINT [CHK_TaiKhoanNguoiDung_SoDienThoai_Format] CHECK  (([SoDienThoai] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung] CHECK CONSTRAINT [CHK_TaiKhoanNguoiDung_SoDienThoai_Format]
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung]  WITH CHECK ADD  CONSTRAINT [CHK_TaiKhoanNguoiDung_TrangThai_Valid] CHECK  (([TrangThai]=N'Chờ xác thực' OR [TrangThai]=N'Bị khóa' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[TaiKhoanNguoiDung] CHECK CONSTRAINT [CHK_TaiKhoanNguoiDung_TrangThai_Valid]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [CHK_ThanhToan_HinhThucThanhToan_Valid] CHECK  (([HinhThucThanhToan]=N'Online' OR [HinhThucThanhToan]=N'Chuyển khoản' OR [HinhThucThanhToan]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [CHK_ThanhToan_HinhThucThanhToan_Valid]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [CHK_ThongBao_HinhThuc_Valid] CHECK  (([HinhThuc]=N'Trong hệ thống' OR [HinhThuc]=N'Email' OR [HinhThuc]=N'Zalo' OR [HinhThuc]=N'SMS'))
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [CHK_ThongBao_HinhThuc_Valid]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [CHK_ThongBao_LoaiThongBao_Valid] CHECK  (([LoaiThongBao]=N'Khác' OR [LoaiThongBao]=N'Cảnh báo' OR [LoaiThongBao]=N'Chúc mừng sinh nhật' OR [LoaiThongBao]=N'Nhắc tái khám' OR [LoaiThongBao]=N'Nhắc lịch' OR [LoaiThongBao]=N'Xác nhận lịch'))
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [CHK_ThongBao_LoaiThongBao_Valid]
GO
ALTER TABLE [dbo].[VatTu]  WITH CHECK ADD  CONSTRAINT [CHK_VatTu_LoaiVatTu_Valid] CHECK  (([LoaiVatTu]=N'Khác' OR [LoaiVatTu]=N'Vật tư tiêu hao' OR [LoaiVatTu]=N'Dụng cụ' OR [LoaiVatTu]=N'Thuốc men'))
GO
ALTER TABLE [dbo].[VatTu] CHECK CONSTRAINT [CHK_VatTu_LoaiVatTu_Valid]
GO
ALTER TABLE [dbo].[VatTu]  WITH CHECK ADD  CONSTRAINT [CHK_VatTu_TenVatTu_NotEmpty] CHECK  ((len(rtrim(ltrim([TenVatTu])))>(0)))
GO
ALTER TABLE [dbo].[VatTu] CHECK CONSTRAINT [CHK_VatTu_TenVatTu_NotEmpty]
GO
ALTER TABLE [dbo].[XuatKho]  WITH CHECK ADD  CONSTRAINT [CHK_XuatKho_SoLuongXuat_Valid] CHECK  (([SoLuongXuat]>(0)))
GO
ALTER TABLE [dbo].[XuatKho] CHECK CONSTRAINT [CHK_XuatKho_SoLuongXuat_Valid]
GO
/****** Object:  StoredProcedure [dbo].[sp_DatLich]    Script Date: 3/23/2026 3:23:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DatLich]
    @MaBenhNhan INT,
    @MaBacSi INT,
    @MaDichVu INT,
    @NgayHen DATE,
    @GioHen TIME,
    @MaGhe INT = NULL,
    @MaTaiKhoanDatLich INT = NULL,
    @KenhDatLich NVARCHAR(50) = N'Website',
    @Result INT OUTPUT,
    @Message NVARCHAR(255) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
    
    BEGIN TRAN;
    
    DECLARE @ThoiGianThucHien INT,
            @Thu INT,
            @CaLam NVARCHAR(50),
            @SoLichToiDa INT,
            @SoLichToiDaMoiGio INT;
    
    -- Get service duration
    SELECT @ThoiGianThucHien = ThoiGianThucHien
    FROM DichVu
    WHERE MaDichVu = @MaDichVu;
    
    -- Get system configuration
    SELECT @SoLichToiDa = CAST(GiaTri AS INT)
    FROM CauHinhHeThong
    WHERE TenCauHinh = 'SoLichToiDaTrongNgay';
    
    SELECT @SoLichToiDaMoiGio = CAST(GiaTri AS INT)
    FROM CauHinhHeThong
    WHERE TenCauHinh = 'SoLichToiDaMoiGio';
    
    SET @Thu = DATEPART(WEEKDAY, @NgayHen);
    
    -- Determine shift
    IF @GioHen BETWEEN '07:30' AND '12:00'
        SET @CaLam = N'Sáng';
    ELSE IF @GioHen BETWEEN '14:00' AND '19:30'
        SET @CaLam = N'Chiều';
    ELSE
    BEGIN
        SET @Result = 1;
        SET @Message = N'Giờ hẹn không hợp lệ (chỉ trong 7:30-12:00 hoặc 14:00-19:30).';
        ROLLBACK;
        RETURN;
    END
    
    -- Verify doctor exists and has correct employee type
    IF NOT EXISTS (SELECT 1 FROM NhanVien WHERE MaNhanVien = @MaBacSi AND MaLoaiNV = 2)
    BEGIN
        SET @Result = 1;
        SET @Message = N'Mã nhân viên không phải bác sĩ.';
        ROLLBACK;
        RETURN;
    END
    
    -- Check doctor's work schedule
    IF NOT EXISTS (
        SELECT 1 FROM LichLamViec
        WHERE MaNhanVien = @MaBacSi
          AND Thu = @Thu
          AND CaLam IN (@CaLam, N'Cả ngày')
    )
    BEGIN
        SET @Result = 1;
        SET @Message = N'Bác sĩ không làm việc vào thời gian này.';
        ROLLBACK;
        RETURN;
    END
    
    -- Check chair maintenance
    IF @MaGhe IS NOT NULL AND EXISTS (
        SELECT 1 FROM LichBaoTriGhe
        WHERE MaGhe = @MaGhe AND NgayBaoTri = @NgayHen
    )
    BEGIN
        SET @Result = 1;
        SET @Message = N'Ghế đang được bảo trì vào ngày này.';
        ROLLBACK;
        RETURN;
    END
    
    -- Daily appointment limit
    IF (
        SELECT COUNT(*)
        FROM LichHen
        WHERE MaBacSi = @MaBacSi
          AND NgayHen = @NgayHen
          AND TrangThai IN (N'Chờ xác nhận', N'Đã xác nhận')
    ) >= @SoLichToiDa
    BEGIN
        SET @Result = 1;
        SET @Message = N'Bác sĩ đã đạt giới hạn lịch trong ngày.';
        ROLLBACK;
        RETURN;
    END
    
    -- Hourly appointment limit
    IF (
        SELECT COUNT(*)
        FROM LichHen
        WHERE MaBacSi = @MaBacSi
          AND NgayHen = @NgayHen
          AND DATEPART(HOUR, GioHen) = DATEPART(HOUR, @GioHen)
          AND TrangThai IN (N'Chờ xác nhận', N'Đã xác nhận')
    ) >= @SoLichToiDaMoiGio
    BEGIN
        SET @Result = 1;
        SET @Message = N'Bác sĩ đã đạt giới hạn lịch trong giờ này.';
        ROLLBACK;
        RETURN;
    END
    
    -- Check doctor appointment overlap
    IF EXISTS (
        SELECT 1
        FROM LichHen lh
        JOIN DichVu dv ON lh.MaDichVu = dv.MaDichVu
        WHERE lh.MaBacSi = @MaBacSi
          AND lh.NgayHen = @NgayHen
          AND lh.TrangThai IN (N'Chờ xác nhận', N'Đã xác nhận')
          AND lh.GioHen < DATEADD(MINUTE, @ThoiGianThucHien, @GioHen)
          AND DATEADD(MINUTE, dv.ThoiGianThucHien, lh.GioHen) > @GioHen
    )
    BEGIN
        SET @Result = 1;
        SET @Message = N'Bác sĩ đã có lịch trong khoảng thời gian này.';
        ROLLBACK;
        RETURN;
    END
    
    -- Check chair overlap
    IF @MaGhe IS NOT NULL
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM LichHen lh
            JOIN DichVu dv ON lh.MaDichVu = dv.MaDichVu
            WHERE lh.MaGhe = @MaGhe
              AND lh.NgayHen = @NgayHen
              AND lh.TrangThai IN (N'Chờ xác nhận', N'Đã xác nhận')
              AND lh.GioHen < DATEADD(MINUTE, @ThoiGianThucHien, @GioHen)
              AND DATEADD(MINUTE, dv.ThoiGianThucHien, lh.GioHen) > @GioHen
        )
        BEGIN
            SET @Result = 1;
            SET @Message = N'Ghế đã được sử dụng trong khoảng thời gian này.';
            ROLLBACK;
            RETURN;
        END
    END
    
    -- Insert appointment
    INSERT INTO LichHen (
        MaTaiKhoanDatLich, MaBenhNhan, MaBacSi, MaDichVu,
        MaGhe, NgayHen, GioHen, KenhDatLich, TrangThai
    )
    VALUES (
        @MaTaiKhoanDatLich, @MaBenhNhan, @MaBacSi, @MaDichVu,
        @MaGhe, @NgayHen, @GioHen, @KenhDatLich, N'Chờ xác nhận'
    );
    
    COMMIT;
    SET @Result = 0;
    SET @Message = N'Đặt lịch thành công.';
END;
GO
USE [master]
GO
